In [1]:
#import packages
import numpy as np
import pandas as pd

In [3]:
#read in csvs
math = pd.read_csv("Maths.csv")
port = pd.read_csv("Portuguese.csv")
print(math.head())
print(port.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13

[5 rows x 33 columns]

## Data Cleaning
In order to simplify the analysis process, we've added a column to each of the initial dataframes called "Subject" so that when we combine the dataframes, we can easily identify which data set and subject the information relates to.

In [10]:
#add subject column
math['Subject'] = "M"
port['Subject'] = 'P'
#print(math.head())
#print(port.head())

#Check all columns match before concatenation
if math.columns.tolist() == port.columns.tolist():
    print("Columns match: proceed")
    final_df = pd.concat([math,port])
    
print(final_df)

Columns match: proceed
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
644     MS   F   19       R     GT3       T     2     3  services     other
645     MS   F   18       U     LE3       T     3     1   teacher  services
646     MS   F   18       U     GT3       T     1     1     other     other
647     MS   M   17       U     LE3       T     3     1  services  services
648     MS   M   18       R     LE3       T     3     2  services     other

     ... freetime goout  Dalc  Walc  health absences  G1  G2  G3 Subject
0    ...        3     4     1     1       3        6   5   6   6       M
1    ...        3     3     1     1       3        4   5   5   6       M
2    ...        3     2     2     3       3       10   7   8  10       M
3    ...        2     2     1     1       5        2  15  14  15       M
4    ...        3     2     1     2       5        4   6  10  10       M
..   ...      ...   ...   ...   ...     ...      ...  ..  ..  ..     ...
644  ...        4     2     1     2       5        4  10  11  10       P
645  ...        3     4     1     1       1        4  15  15  16       P
646  ...        1     1     1     1       5        6  11  12   9       P
647  ...        4     5     3     4       2        6  10  10  10       P
648  ...        4     1     3     4       5        4  10  11  11       P

[1044 rows x 34 columns]

In [15]:
#Check for null values in columns
for i in final_df.columns:
    print(i)
    print("Number of nans:", final_df[i].isnull().sum())

school
Number of nans: 0
sex
Number of nans: 0
age
Number of nans: 0
address
Number of nans: 0
famsize
Number of nans: 0
Pstatus
Number of nans: 0
Medu
Number of nans: 0
Fedu
Number of nans: 0
Mjob
Number of nans: 0
Fjob
Number of nans: 0
reason
Number of nans: 0
guardian
Number of nans: 0
traveltime
Number of nans: 0
studytime
Number of nans: 0
failures
Number of nans: 0
schoolsup
Number of nans: 0
famsup
Number of nans: 0
paid
Number of nans: 0
activities
Number of nans: 0
nursery
Number of nans: 0
higher
Number of nans: 0
internet
Number of nans: 0
romantic
Number of nans: 0
famrel
Number of nans: 0
freetime
Number of nans: 0
goout
Number of nans: 0
Dalc
Number of nans: 0
Walc
Number of nans: 0
health
Number of nans: 0
absences
Number of nans: 0
G1
Number of nans: 0
G2
Number of nans: 0
G3
Number of nans: 0
Subject
Number of nans: 0